<!DOCTYPE html>
<html>
<head>
    <title>Battleship</title>
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"> -->
    <link rel="stylesheet" type="text/css" href="style.css"  media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>

</head>
<body>
<div style="display: block; width: 60%; text-align: center; margin-top: 20px; margin-bottom: 100px; margin-left:auto; margin-right:auto">
    <a href="/spectator" class="button">Home</a>
    <a href="/statistics" class="button">Statistics</a>
    <h1>Statistics</h1>
<div>
<table>
  <tr>
    <th>Winner</th>
    <th>Date</th>
    <th>Human Accuracy</th>
    <th> Computer Accuracy</th>
  </tr>
  <% for (var i = 0; i < results.length; i++) { %>
      <tr>
        <td><%= results[i].winner %></td>
        <td><%= results[i].date %></td>
        <td><%= results[i].human_accuracy %></td>
        <td><%= results[i].computer_accuracy %></td>
      </tr>
  <% } %>
</table>
</body>
</html>
