<!DOCTYPE html>
<html>
<head>
    <title>Battleship</title>
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"> -->
    <link rel="stylesheet" type="text/css" href="style.css"  media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</head>
<body>
 
<a href="/spectator" class="button">Home</a>
<a href="/statistics" class="button">Statistics</a>
<header>Statistics</header>
<table>
    <tr>
    <th> Games Won <th>
    <td><div></div></td>
    </tr>
</table> 

</body>

</html>
