tml, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #99CCCC;
	min-width: 860px;
}
h1, h2, h3, h4, h5, h6, p, li, span {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
}
a {
	color: #222222;
	font-weight: bold;
}
	a:hover {
		text-decoration: none;
	}
div {
	padding: 0;
	margin: 0;
}

.button {
    background-color: rgb(153, 153, 102);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #EEEEEE;
	background-color: #0099CC;
	border: none;
	margin: 1em auto 0 auto;
	padding: 10px;
	border-radius: 5px;
}
button:hover {
	cursor: pointer;
  	color: black;
	background-color: #CCCCCC;
}
button:active {
	background-color: #99C2E1;
}

.register {
	width: 50%;
    height: 20%;
	text-align: center;
	margin: 10% auto 10% auto;
    background-image: url('http://i.giphy.com/g32iHOVpKAvM4.gif');
    background-size: cover;
}

#username {
        width: 600px;
        padding: 10px 10px;
}

.container {
	width: 80%;
	text-align: center;
	margin: 20px auto 100px 20%;
}
/*.container {
	width: 440px;
}*/
.grid-container:last-child {
	margin-left: 0;
}
.game-container {
	position: relative;
}
#left-sidebar{
	width: 20%;
	padding: 20px;
	margin: 0;
	background-color: white;
	position: absolute;
	top: 4.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#right-sidebar{
	width: 150px;
	padding: 20px;
	margin: 0;
	background-color: white;
	position: absolute;
	top: 4.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#left-sidebar, #restart-sidebar {
	left: -20%;
}
#right-sidebar {
	right: -150px;
}
#left-sidebar h2, #right-sidebar h2, #restart-sidebar h2 {
	margin: 0 0 1em 0;
	text-align: center;
}

.ships {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
.ships, button {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.ships li {
	margin: 0.5em 0;
}
.ships li:hover {
	color: #aaa;
	cursor: pointer;
}
.ships .placing {
	font-weight: bold;
}
.ships .placed {
	visibility: hidden;
	font-weight: bold;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}


.grid-container {
	width: 430px;
	display: inline-block;
}
.grid-container h2 {
	width: 430px;
	display: inline-block;
}

.grid {
	position: relative;
	vertical-align: top;
	padding: 5px;
	height: 420px;
	width: 420px;
	background-color: #666666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.grid-container:last-child {
	margin-left: 10px;
}
.hints {
	width: 300px;
	height: 300px;
	margin: 100px auto;
	display: inline-block;
	color: #EEEEEE;
	font-size: 2em;
}
.grid-cell {
	vertical-align: top;
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #FFFFCC;
	margin: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.grid-cell:hover {
	cursor: pointer;
	background-color: #66A3D2;
}
.human-player .grid-cell:hover {
	background-color: #99C2E1;
}
.computer-player .grid-cell:hover, .computer-player:hover {
	cursor: url('/crosshair.png') 16 16, crosshair;
}
.grid-ship, .human-player .grid-ship:hover {
	background-color: #808080;
}
.log{
	/*width: 150px;
	height: 400px;*/
    min-height: 150px;
    max-height: 500px;
    text-align: left;
	/*border: 5px solid #666666;
	border-radius: 5px;*/
	background-color: white;
    overflow-y: hidden;
}
.log-entry {
    font-size: 1.2em;
    font-family: 'Comic Sans MS'
}


table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFFFCC;
}

.game-finish-info {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.huge-title {
    font-size: 5em;
    font-family: 'Arial';
    color: white;
}
.username_input {
    font-size: 1em;
    /*background-color:rgba(0, 0, 0, 0);*/
    opacity: 0.8;
}
